body {
  font-family: 'Lato', sans-serif;
  color: #221f1f;
  background-color: #FFFFFF;
}
a {
  color: #221f1f;
}
.btn {
  color: white;
  background: #208a0b;
  background: linear-gradient(#31991d, #256917);
  border: none;
  text-transform: uppercase;
}
top-nav nav.navbar {
  margin-bottom: 0;
  background-color: #485964;
  border: none;
  border-radius: 0;
}
top-nav .navbar {
  height: 100px;
}
top-nav nav .navbar-brand img {
  display: inline-block;
  /*width: 50px;*/
  /*height: 50px;*/
  margin-right: 20px;
}
top-nav nav .navbar-brand > div {
  display: inline-block;
}
top-nav nav .navbar-brand h1 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: white;
}
top-nav nav .navbar-brand span.undertitle {
  font-size: 12px;
  font-style: italic;
  line-height: 12px;
  color: #749ab4;
}
top-nav nav.navbar-default .navbar-collapse {
  margin: 30px 0;
}
@media (min-width: 1200px) {
  top-nav nav.navbar-default .navbar-nav > li {
    min-width: 100px;
  }
}
top-nav nav.navbar-default .navbar-nav > li > a {
  color: white;
  padding: 5px 10px;
  margin: 0 10px;
  display: inline-block;
}
top-nav nav.navbar-default .navbar-nav > li.active > a{
  color: white;
  background: #35424c;
  box-shadow: 1px 1px 1px black inset,
  0 1px 0 rgba( 255, 255, 255, 0.4);
}
top-nav nav.navbar-default .navbar-nav > li > a:hover{
  color: #AAA;
  background: #35424c;
  box-shadow: 1px 1px 1px black inset,
  0 1px 0 rgba( 255, 255, 255, 0.4);
}
top-nav nav.navbar-default .navbar-collapse .btn {
  background: #208a0b;
  background: linear-gradient(#31991d, #256917);
  border: none;
  margin: 0;
  font-size: smaller;
}
.lessons-index .header {
  height: 250px;
  background-image: url("/img/background.png");
  background-position: center center;;
  background-size: cover;
  padding: 20px;
}
.lessons-index .header .floating-block {
  color: white;
  background: rgba(0,0,0,0.38);
  border-radius: 5px;
  padding-bottom: 20px;
}
.lessons-index .header .floating-block p {
  font-size: smaller;
}
.lessons-index .header .floating-block .btn {
  text-transform: uppercase;
  background: #BB0000;
  background: linear-gradient(#CB0000, #A80000);
}
.lessons-index .lessons-intro {
  min-height: 223px;
}
level-block:nth-child(2n) > div{
  background-color: #EDEDED;
}
level-block > div{
  min-height: 380px;
}
level-block h3 {
  min-height: 99px;
  line-height: 99px;
}
level-block .lesson-image {
  border-radius: 50%;
  background-clip: padding-box;
  background-size: cover;
  height: 143px;
  width: 143px;
  margin: auto;
}
level-block .lesson-title {
  display: inline-block;
  margin-top: 30px;
}
