<nav class="navbar">
	<div class="container">
		<div class="row">
			<div class="hidden-xs hidden-sm col-md-3 text-center">
				<i class="fa fa-lock fa-4x"></i><br/>
				Paiement sécurisé
			</div>
			<div class="col-sm-8 col-md-6">
				<div class="row">
					<div class="col-md-2">
						<img alt="logo" class="pull-left" src="img/logo.png">
					</div>
					<div class="col-md-10">
						<h2>Cours de Musique</h2>
						<ul>
							<li>Cours de guitare</li>
							<li>Cours piano</li>
							<li>Cours basse</li>
							<li>Cours batterie</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-md-3 text-center">
				<a href="#/" class="btn btn-primary">Inscrivez vous</a><br />
				Accés illimité à tous les cours
			</div>
		</div>
	</div>
</nav>
<footer>
	<ul>
		<li>
			<a href="#/">Mentions légales</a>
		</li>
		<li>
			<a href="#/">Conditions générales de ventes</a>
		</li>
		<li>
			<a href="#/">Qui sommes nous ?</a>
		</li>
	</ul>
</footer>
