<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img alt="logo" class="pull-left" src="/img/logo.png">
				<div>
					<h1>Cours de Musique</h1>
					<span class="undertitle">Lorem ipsum ipsum lorem ipsum</span>
				</div>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<button type="button" class="btn btn-default navbar-btn pull-right">
				<i class="fa fa-user"></i>
				Me connecter
			</button>
			<ul class="nav navbar-nav nav-pills pull-right">
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Notre offre</a></li>
				<li class="active"><a href="#">Les cours</a></li>
				<li><a href="#">Les intruments</a></li>
				<li><a href="#">FAQ</a></li>
			</ul>
		</div>
	</div>
</nav>
