<nav class="navbar navbar-default">
	<div class="container">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="logo" class="pull-left" src="img/logo.png">
					<div>
						<h1>Cours de Musique</h1>
						<span class="undertitle">Lorem ipsum ipsum lorem ipsum</span>
					</div>
				</a>
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>
		<div class="hidden-xs col-sm-push-4 col-sm-2 col-md-push-5 col-lg-offset-0 col-lg-push-6 col-lg-2">
			<button type="button" class="btn btn-default navbar-btn">
				<i class="fa fa-user"></i>
				Me connecter
			</button>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-pull-2 col-lg-6">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav nav-pills">
					<li><a href="#">Accueil</a></li>
					<li><a href="#">Notre offre</a></li>
					<li class="active"><a href="#">Les cours</a></li>
					<li><a href="#">Les intruments</a></li>
					<li><a href="#">FAQ</a></li>
					<li class="visible-xs"><a href="#">Me connecter</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
