<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img alt="logo" src="/img/logo.png">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Notre offre</a></li>
				<li class="active"><a href="#">Les cours</a></li>
				<li><a href="#">Les intruments</a></li>
				<li><a href="#">FAQ</a></li>
			</ul>
			<button type="button" class="btn btn-default navbar-btn pull-right">
				<i class="fa fa-user"></i>
				Me connecter
			</button>
		</div>
	</div>
</nav>
