<header>

</header>
<div class="row">
	<div class="col-md-12 text-center">
		<h4>Cours de musique en ligne</h4>
	</div>
	<div class="col-md-4">
		<i class="fa fa-download fa-2x fa-pull-left fa-fw"></i>
		Débutants à experts<br />
		Cours téléchargeables
	</div>
	<div class="col-md-4">
		<i class="fa fa-music fa-2x fa-pull-left fa-fw"></i>
		5 intruments de musique<br />
		18 catégories
	</div>
	<div class="col-md-4">
		<i class="fa fa-desktop fa-2x fa-pull-left fa-fw"></i>
		Accès illimité 24h/24<br />
		Sur ordinateur & tablette
	</div>
</div>
<level-block level-id="10"></level-block>
<level-block level-id="11"></level-block>
<level-block level-id="12"></level-block>
